<!DOCTYPE html>
<html>
<head>
  <title>DnDiceRoller</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="application.js"></script>
</head>
<body>
    <div>
      <table>

      <!-- top row -->
        <tr>
          <td>
            <p>Die Type</p>
          </td>
          <td>
            <p>Number of Die</p>
          </td>
          <td>
            <p>+ -</p>
          </td>
          <td>
            <p>Roll Modifier</p>
          </td>
          <td>
            <p>Result</p>
          </td>
        </tr>

      <!-- second row with d4-->
        <tr>
          <td>
            <img src="https://s3-us-west-2.amazonaws.com/dndiceroller/dice4.gif" alt="d4" class="dice d4" data-sides="4" height="100" width="100">
          </td>
          <td>
            <input type="text" name="d4number" size="3" maxlength="3" value="1">
          </td>
          <td>
            <p>d4</p>
          </td>
          <td>
            <input type="radio" name="d4modifierplus" value="plus" checked="" class="radioStyle">
            <input type="radio" name="d4modifierminus" value="minus" class="radioStyle">
          </td>
          <td>
            <input type="text" name="d4modifier" size="3" maxlength="3" value="0">
          </td>
          <td>
            <a href="" onclick="">
              <button>Roll</button>
            </a>
          </td>
          <td>
            <input type="text" id="d4_results" class="roll_results" name="d4results" size="5" maxlength="5">
          </td>
        </tr>

      <!-- third row with d6-->
        <tr>
          <td>
            <a href="" onclick=""><img src="https://s3-us-west-2.amazonaws.com/dndiceroller/dice6.gif"></a>
          </td>
          <td>
            <input type="text" name="d6number" size="3" maxlength="3" value="1">
          </td>
          <td>
            <p>d6</p>
          </td>
          <td>
            <input type="radio" name="d6modifierplus" value="plus" checked="" class="radioStyle">
            <input type="radio" name="d6modifierminus" value="minus" class="radioStyle">
          </td>
          <td>
            <input type="text" name="d6modifier" size="3" maxlength="3" value="0">
          </td>
          <td>
            <a href="" onclick="">
              <button>Roll</button>
            </a>
          </td>
          <td>
            <input type="text" name="d6results" size="5" maxlength="5">
          </td>
        </tr>

      <!-- fourth row with d8 -->
        <tr>
          <td>
            <a href="" onclick=""><img src="https://s3-us-west-2.amazonaws.com/dndiceroller/dice8.gif"></a>
          </td>
          <td>
            <input type="text" name="d8number" size="3" maxlength="3" value="1">
          </td>
          <td>
            <p>d8</p>
          </td>
          <td>
            <input type="radio" name="d8modifierplus" value="plus" checked="" class="radioStyle">
            <input type="radio" name="d8modifierminus" value="minus" class="radioStyle">
          </td>
          <td>
            <input type="text" name="d8modifier" size="3" maxlength="3" value="0">
          </td>
          <td>
            <a href="" onclick="">
              <button>Roll</button>
            </a>
          </td>
          <td>
            <input type="text" name="d8results" size="5" maxlength="5">
          </td>
        </tr>

        <!-- fifth row with d10 -->
        <tr>
          <td>
            <a href="" onclick=""><img src="https://s3-us-west-2.amazonaws.com/dndiceroller/dice10.gif"></a>
          </td>
          <td>
            <input type="text" name="d10number" size="3" maxlength="3" value="1">
          </td>
          <td>
            <p>d10</p>
          </td>
          <td>
            <input type="radio" name="d10modifierplus" value="plus" checked="" class="radioStyle">
            <input type="radio" name="d10modifierminus" value="minus" class="radioStyle">
          </td>
          <td>
            <input type="text" name="d10modifier" size="3" maxlength="3" value="0">
          </td>
          <td>
            <a href="" onclick="">
              <button>Roll</button>
            </a>
          </td>
          <td>
            <input type="text" name="d10results" size="5" maxlength="5">
          </td>
        </tr>

        <!-- sixth row with d100 -->
        <tr>
          <td>
            <a href="" onclick=""><img src="https://s3-us-west-2.amazonaws.com/dndiceroller/dice100.gif"></a>
          </td>
          <td>
            <input type="text" name="d100number" size="3" maxlength="3" value="1">
          </td>
          <td>
            <p>d100</p>
          </td>
          <td>
            <input type="radio" name="d100modifierplus" value="plus" checked="" class="radioStyle">
            <input type="radio" name="d100modifierminus" value="minus" class="radioStyle">
          </td>
          <td>
            <input type="text" name="d100modifier" size="3" maxlength="3" value="0">
          </td>
          <td>
            <a href="" onclick="">
              <button>Roll</button>
            </a>
          </td>
          <td>
            <input type="text" name="d100results" size="5" maxlength="5">
          </td>
        </tr>

        <!-- seventh row with d12 -->
        <tr>
          <td>
            <a href="" onclick=""><img src="https://s3-us-west-2.amazonaws.com/dndiceroller/dice12.gif"></a>
          </td>
          <td>
            <input type="text" name="d12number" size="3" maxlength="3" value="1">
          </td>
          <td>
            <p>d12</p>
          </td>
          <td>
            <input type="radio" name="d12modifierplus" value="plus" checked="" class="radioStyle">
            <input type="radio" name="d12modifierminus" value="minus" class="radioStyle">
          </td>
          <td>
            <input type="text" name="d12modifier" size="3" maxlength="3" value="0">
          </td>
          <td>
            <a href="" onclick="">
              <button>Roll</button>
            </a>
          </td>
          <td>
            <input type="text" name="d12results" size="5" maxlength="5">
          </td>
        </tr>

        <!-- eigth row with d20 -->
        <tr>
          <td>
            <a href="" onclick=""><img src="https://s3-us-west-2.amazonaws.com/dndiceroller/dice20.gif"></a>
          </td>
          <td>
            <input type="text" name="d20number" size="3" maxlength="3" value="1">
          </td>
          <td>
            <p>d20</p>
          </td>
          <td>
            <input type="radio" name="d20modifierplus" value="plus" checked="" class="radioStyle">
            <input type="radio" name="d20modifierminus" value="minus" class="radioStyle">
          </td>
          <td>
            <input type="text" name="d20modifier" size="3" maxlength="3" value="0">
          </td>
          <td>
            <a href="" onclick="">
              <button>Roll</button>
            </a>
          </td>
          <td>
            <input type="text" name="d20results" size="5" maxlength="5">
          </td>
        </tr>
      </table>
    </div>

<%= yield %>

</body>
</html>
