/*https://s3-us-west-2.amazonaws.com/dndiceroller/DnDiceRoller_background.jpg
*/
@font-face{
  font-family: 'IM Fell French Canon', serif;
}

html {
  background-image: url(https://s3-us-west-2.amazonaws.com/dndiceroller/DnDiceRoller_background.jpg);
  background-size: cover;
}

tr {
  font-family: 'IM Fell French Canon', serif;
  color: #F2F0F1;
  font-size: 1.5em;
}

.td .p {
  opacity: 1;
}

div {
  background-color: #444240;
  background-size: 500px
}
.medium{
  opacity: 0.85;
}
